@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333333;
  --spacing-4: calc(var(--spacing) * 4);
  --header-height: calc(72px + var(--spacing-4));
  --corner-width: calc(100vw / 2);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato), Helvetica, sans-serif;
}
