@import "tailwindcss";

:root {
  --background: #77499d;
  --foreground: #ffffff;
  --spacing-4: calc(var(--spacing) * 4);
  --header-height: calc(72px + var(--spacing-4));
  --corner-width: calc(100vw / 2);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    interpolate-size: allow-keywords;
  }
}
@media (prefers-color-scheme: dark) {
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato), Helvetica, sans-serif;
}

details::details-content {
  block-size: 0;
  opacity: 0;
  overflow-y: clip;
  transition: content-visibility 0.3s allow-discrete, opacity 0.3s,
    block-size 0.3s;
}
details[open]::details-content {
  opacity: 1;
  block-size: auto;
}
